/*
        _       _                    
       | |     ( )                   
   ___ | |_   _|/ ___    ___ ___ ___ 
  / _ \| \ \ / / / __|  / __/ __/ __|
 | (_) | |\ V /  \__ \ | (__\__ \__ \
  \___/|_| \_/   |___/  \___|___/___/

steal and i break your neck
*/

/* imports */
@font-face {
    font-family: apple;
    src: url(./fonts/apple.ttf);
}

@font-face {
    font-family: boing;
    src: url(./fonts/saturn.ttf);
  }


/* roots */
:root{
    --bg: url();
    --bg-color-menu: #280828;
    --main-text-color: #f0f0b8;
    --sub-text-color: #7850f0;
}

a{
    font-weight:bold;
}

#header{
    background: var(--bg-color-menu) !important;
}

#hSub{
    background: #bbc657 !important;
}

#hSub a{
    color: #302020;
}

/* main */
container{
    max-width: 1080px;
}

body{
    background-position: 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: consolas;
    font-size: 15px;
    margin-top: 40px;
    background-color: #000;
    color: var(--main-text-color)
}

.topLeft, .blurbs{
    background-color: var(--bg-color-menu);
    padding: 10px;
    
}

.blurbs{
    border: 15px solid transparent;
    border-image:url(./img/border.png) 35 round;
}

.fwiends, .comments{
    border: 20px solid transparent;
    border-image:url(./img/border-two.png) 20 round;
    background-image: url(./img/bg-two.png);
    background-attachment: local;
}

.topLeft{
    border: 20px solid transparent;
    border-image:url(./img/border-three.png) 20 round;
    width: calc(40% - 60px);
}

@media only screen and (max-width: 812px){
    .topLeft{
        width: auto;
        padding:20px;
    }

    .avatar{
        width: 150px;
    }
    
}

@media only screen and (min-width:769px){
.url {
    display: initial !important;
    font-size: 0px;
    background: url(./img/hello.gif) no-repeat;
    background-size: 100%;
    position: fixed;
    left: 449px;
    bottom: 280px;
    height: 160px;
    width: 390px;
    border: none;
    padding: 0 !important;

}
}

/* comments */

.comments{
    padding: 20px;
    color: #302020;
}

.boxHead{
    background: #302020;
    color: var(--main-text-color);
}

#userWall { 
    height: 500px;
    width: auto;
    overflow: auto;
    margin-top: 0px;
}
  
form > textarea#commentInput{
    width: 98%;
    padding: 5px;
    background: #000;
    color: #fcd4c9;
    font-family: monaco, courier new;
    font-size: 11px;
    margin-top: 0px;
}
  
.tableRight{
    background-color: #f8f8c8;
    box-shadow: inset 2px -5px 0px 8px #889080;
}

.tableLeft {
    background: none;
    padding: 10px;
    vertical-align: middle;
}

.tableLeft img{
    display:none;
}

/* fwiends */

.fwiends {
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
}


@media only screen and (max-height: 812px){
.fwiendFace img {
    height: 65px !important;
    width: 65px !important;
}

}

.fwiendFace img {
    width: 110px;
    height:110px;
    background-color: #f8f8c8;
    box-shadow: inset 5px -2px 2px 8px #889080;
    margin: 0 auto;
    object-fit: cover;
    object-position:top;
    border-radius: 5px;
}

.fwiendCounter {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.fwiendCount {
    color: #302020;
    font-size: 15px;
}

.fwiendCounter b{
    font-size: 0px;
}

.fwiendCounter b:after{
    color: #302020;
    content: " memories saved.";
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}


#viewFriends {
    display: none;
}

/* formatting */

#gender, #country{
    font-size: 0px;
    display: initial;
}

.shortRight>div+div+div{
    display: block;
}

#gender::after{
    font-size: 15px;
    content: "Level: ???";
}

#country::after{
    font-size: 15px;
    content: "Save Frog";
}

.shortRight{
    text-align: center;
    width:auto;
}

.boxInfo{
    margin-bottom: 0;
    margin-top: 10px;
    border:none;

}

.player{
    border:none;
    background:none;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 5px
}

.controlBar{
    background-color:rgb(25, 14, 147);
}

.fwiends{
    margin-top: 40px;
}

.boxButton{
    background-image: url(./img/e.png) !important;
    background-position: 10% 45%;
    color: var(--main-text-color)
}

.boxButton:hover{
    font-weight: bolder;
    color: var(--sub-text-color)
}

#add, #sMsg, #report, #block{font-size: 0px;}

#add::after{
    font-size:13px;
    content: "Save Memories";
}

#sMsg::after{
    font-size:13px;
    content: "Send Memories";
}

#report::after{
    font-size:13px;
    content: "Report Memories";
}

#block::after{
    font-size:13px;
    content: "Block Memories";
}

/* removals */

#age{
    display: none;
}

.shortRight>div+div{
    display: none;
}

.url {
    display: none;
}

.extended {
    display: none;
}

.boxInfo>.boxHead, .rightHead{
    display: none;
}

#name{
    display:none;
}

.blurbs>.rightHead{
    display:none;
}

.blogs>div>b{
    display:none;
}

/* headers */

.blurbs>h4{
    text-transform: uppercase;
    font-size: 20px;
}

#about>h4, #who>h4{
    color: #7963b9;
}

h4{
    color: var(--sub-text-color);
}

/* blog */

.blogCard{
    width: 180px;
    border: 15px solid transparent;
    border-image: url(https://i.imgur.com/woyw6dW.png) 20 round;
}

.blogCard>div, .blogCard>#gender, .blogCard>#country{
    display:none;
}

/* links */

.comments>a, .fwiends a{
    color: #302020;
    text-shadow: 2px 2px 2px var(--main-text-color);
}
