
div#hSub{ 
  background-color: #000000;
  color: #000000;

}

#who{
  background-color: #000000;
  font-family: monospace;
  font-size: 15px;
  

}

#about{
  background-color: #000000;
  font-family: monospace;
  


}

h4{ 
  color:red;
  font-family: monospace;
  font-size: 25px;
  content: hello

}


.tableRight, .tableLeft{
background: #000000;
color: #000000;
font-family: monospace;

}

body{ 
    width: 100%; 
    height: 100%; 
    background-image: url("https://64.media.tumblr.com/10504efccdabd4444c59b4079d47a100/tumblr_pj8ndrLkHi1tavtks_500.jpg") !important; 
    cursor: url(https://cur.cursors-4u.net/others/images8/oth704.png), default !important;
    background: none; 
    height: -webkit-fit-content; 
    height: -moz-fit-content; 
    height: fit-content; background-size: 50%;

}

.player::before {
content: "";
display: block;
position: relative;
width: calc(40% -20px);
height: 390px;
max-width: 390px;
background-position: 0 0;
background-size: 100% 100%;
background-image: url(https://64.media.tumblr.com/4f4a25cc970bb1c647446f78d0098684/a1a2ea8c9860be64-e3/s1280x1920/fae977eb99f6aa5763ea6a7d589d80926fdb42f5.png);
border-radius: 10px;


}

div#boxHead {
    color: red;
    background-color: #000000;
    text-align: center;
    font-family: monospace;
    

}


div#header {
    color: red;
    background-color: #000000;
    background-image: url(https://64.media.tumblr.com/aadf4f65abe9f2b472cf4e951e9a5f02/9e76a0d55bba12a1-91/s540x810/d940f3476a45c0b1f3111c753483a381c0ad17c8.gifv);
    text-align: center;
}

div#hSub {
    background-color: #000000;
    text-align: center;
}

.blurbs, #box, .box, #header, #hSub, #urlbox {
  background: #000000;
  border: 3px double #ff0000;
  padding: 3px;
  margin-bottom: 10px;
}



a{cursor: url(), auto !important; font-family: monospace;}
div#header{font-family: monospace; background-color: #000000


}
 #commentInput{
  background: #fff;
  border: 3px double #ff0000;
  padding: 3px;
  margin-bottom: 10px;
}

#add::after {
    font-size: 15px;
    content: "add"; color: red;
}
#add {font-size: 0px; background-repeat: no-repeat; background-position: bottom; background: url(https://i.imgur.com/9IRjTjW.png) no-repeat;}

#add::after{font-size: 15px; content: "add"; color: red;}



#block::after {
    font-size: 15px;
    content: "banish."; color: red;
}
#block {font-size: 0px; background-repeat: no-repeat; background-position: bottom; background: url(https://i.imgur.com/9IRjTjW.png) no-repeat;}


#block::after{font-size: 15px; content: "banish"; color: red}

#block{font-size: 0px; background-repeat: no-repeat; background-position: bottom;  background: url(https://i.imgur.com/9IRjTjW.png) no-repeat;}

#report::after {
    font-size: 15px;
    content: "accuse"; color: red;
}
#report {font-size: 0px; background-repeat: no-repeat; background-position: top; background: url(https://i.imgur.com/9IRjTjW.png) no-repeat;}
#sMsg::after {font-size: 15px;  content: "talk to me"; color: red;}
#sMsg{font-size: 0px; background-repeat: no-repeat; background-position: bottom;  background: url(https://i.imgur.com/9IRjTjW.png) no-repeat;}


.fwiendCounter:after{
    content: " corpses ";
    font-size: 15px; 
    color: #fff;
} 


.fwiendCount{ 
    color: #ff0000; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 15px;
    padding-left:10px;
}


.fwiendCounter{
    font-size: 0px; 
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
}



div#hSub {background: linear-gradient( 180deg, rgba(127,138,154,1) 0%, rgba(50,69,94,1) 50%, rgba(19,43,77,1) 50%, rgba(8,21,41,1) 100%);}
div, a:link, a:visited {color: red; text-shadow: 1px 1px 2px red;}




.boxHead {background: black; color: red; padding: 3px; padding-bottom: 4px; padding-left: 6px;}

.boxInfo {
    border: 3px double #ff0000; 
    margin-bottom: 20px; 
    margin-top: 20px;
} 



.fwiendFace img, .tableLeft img {width: 100px; height: 100px; object-fit: cover; object-position: top;}

#container {background: #000000; opacity: 1; border: 5px double #ff0000; background-image: url(); } 
/*slide thing ig*/
 


@keyframes slidein{
    from {
        margin-left: -100%;
    }
 
    to {
        margin-left: 0%;
 
    }
}

@keyframes slide{
    from {
        margin-right: -100%;
    }
 
    to {
        margin-right: 0%;
 
    }
}

.topRight{
        animation-duration: 12s;
        animation-name: slide;
}

.topLeft{
        animation-duration: 12s;
        animation-name: slidein;
}

a {
    color: #ffff;
}
::-webkit-scrollbar {
width: 13px;
height: 13px;
}
 
::-webkit-scrollbar-track {
background: #000000;
box-shadow: inset 0 0 10px;
border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ff0000; 
box-shadow: inset 0 0 6px #fff; 
}
 
::-webkit-scrollbar-thumb:hover {
background: #ff0000;
}

.player::before {
    content: "";
    display: block;
    position: relative;
    width: calc(40% -20px);
    background-position: 0 0;
}
.songName span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
.songName span:hover {
    animation-play-state: paused;
}
@keyframes marquee{
0% {
    transform: translate(0, 0);
}
 
100% {
    transform: translate(-100%, 0);
}
}

div.songName {
    color: #FF0000;
}
.songName img {
    display: none;
}

.player a img, .player audio::-webkit-media-controls-play-button, .player audio::-webkit-media-controls-mute-button, .player audio::-webkit-media-controls-volume-slider, .player audio::-webkit-media-controls-timeline {
    filter: invert();
    -webkit-filter: invert();
}
.player audio, .player audio::-webkit-media-controls, .player audio::-webkit-media-controls-enclosure, .player audio::-webkit-media-controls-panel {
    background: #fff;
    background: var(--color--bg-box);
    height: 36px;
    filter: none;

}

.fwiendFace, .tableLeft {
    transition: 0.5s;

}

.fwiendFace:hover, .tableLeft:hover {
    border-radius: 5px;
    transform: scale(1.2);
    background: url(https://i.pinimg.com/originals/49/38/66/493866981737b165b4d6bbb11eae69fa.gif);
    animation: wob .5s linear infinite;
    box-shadow: 0 0 1rem #fff;
    border: 1px solid #fff;
    transition: 0.5s;

}

.songName {
    overflow: hidden;
    background: #000000;
    border-radius: 3px;
    margin-top: 0px;
    font-size: small;
    font-family: monospace;
    box-shadow: 0px 4px 6px -5px #333;
    text-shadow: 0px -2px #333;
    color: #ff0000;
    padding: 5px;
}
.songName {
    white-space: nowrap;
}
.songName b {
    display: none;
}
.songTitle:after {
    content: ".idk!";
}
.player {
    background: #000000;
    border: 3px double #ff0000;
    padding: 0;
}


@keyframes fadein {
0% {
    opacity: 0;
    color: #fff;
}
 
10% {
    opacity: 0;
    color: #fff;
}
100% {
    opacity: 1;
    color: transparent;
 }
}
#container {
    -webkit-animation: fadein 5s;
}

.logo{
        font-size: 0;
}
 
.logo::after{
        content: "     caesar.windows93.net";
        font-size: 15px;
        color: red;
        text-shadow: #fff 0 0 7px;
        font-weight: 800;
        text-align: center;
}
.rightHead {
    background-color: black;
    color: red;
    padding-left: 4px;
    content: "my victims";
}

.topRight > .extended.box::after {
    font-size: 20px !important;
    content: "i'm mental 4 u";
}
.topRight > .extended.box > h3 {
    font-size: 0;
}

.fwiendCount{
    color: #FFF;
}
 
#top a{
    text-decoration: none;
        color: #FF0000;
}
 
.fwiendFace{
        background-image: url("https://i.gifer.com/1ksL.gif");
        border: 2px solid #fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 0px;
        max-width: 100vw;

}
 
.fwiendFace img{
        object-fit: cover;
        background-position: center;
        display: absolute;
        border-radius: 50%;
        width: 100px;
        height: 100px;

}
 
.fwiendFace:hover{
        animation: shake 2s;
        animation-iteration-count: infinite;

}

/* mouse over link */
a:hover {
  color: #FFFFFF;
}